body {
    background-color: grey;
}

h1 {
    color: blanchedalmond;

}

h2 {
    color: blanchedalmond;
}

p {
    color: blanchedalmond;
    display: inline;
    margin: 0px;
}

.button {
    background-color: #656565;
    color: white;
    margin: 50px 500px;
    padding: 5px 15px;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
}

.info {
    color: blanchedalmond;
    display:none;
}


#eButton:hover {
    background: #C8C6C6;
}
#eButton:hover + #eInfo{
    display:block;
}
#pButton:hover {
    background: #C8C6C6;
}
#pButton:hover + #pInfo{
    display:block;
}

