body {
    background-color: hsla(253, 8%, 10%, 0.7);
}

h1 {
    color: blanchedalmond;

}

h2 {
    color: blanchedalmond;
}

p {
    color: blanchedalmond;
    display: inline;
    margin: 0px;
}

.button {
    width: 200px;
    height: 50px;
    
}

.info {
    color: blanchedalmond;
    display:none;
}

.bigBang:nth-child(even){ 
    background-color: black;
}

.btn-group button{
    background-color: #656565;
    color: white;
    margin: 50px 500px;
    padding: 5px 15px;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
    border: none;
    float: left;
}

button:hover{
    background: #C8C6C6;
}

#eButton:hover + #eInfo{
    display:block;
}


#pButton:hover + #pInfo{
    display:block;
}


#gravButton:hover + #gravInfo{
    display:block;
}

#pButton{
    display: none;
}

#gravButton{
    display: none;
}

#particleBang{
    display: none;
}
#gravButton{
    display: none;
}
#gravBang{
    display: none;
}
