body {
    background-color: black;
}

h1 {
    color: blanchedalmond;

}

h2 {
    color: blanchedalmond;
}

p {
    color: blanchedalmond;
}

.button {
    background-color: #656565;
    color: white;
    margin: 50px 500px;
    padding: 5px 15px;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
}
p {
    display: inline;
    margin: 0px;
}
